<!DOCTYPE html>
<html lang="en">

<head>

 {{>links}}
    <title>saif website</title>
</head>

<body>
   {{>navbar}}

    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main-header-right align-items-center">
                        <figure>
                            <img src="images/image-1.jpg" alt="about-image" class="img-fluid" title="about">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main-header-left">
                        <p>welcome to the weather api</p>
                        <h1>
                            i am a <span class="text-color"> mern stack developer </span> and a smart freelancer
                        </h1>
                        <a href="/about" target="blank"> <button>about</button></a>
                    </div>

                </div>
            </div>
        </div>
    </div>


{{>footer}}
</body>

</html>